:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p,
ul,
li,
img {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.img {
  display: block;
}
/* Шапка сайта */

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo > span {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
}
.site-nav {
  display: flex;
  padding-left: 0;
  align-items: center;
  margin-left: 93px;
}
.address-nav {
  display: flex;
  padding-left: 0;
  margin-left: auto;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.address-nav .address:not(:last-child) {
  margin-right: 40px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  fill: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .nav-link.current {
  position: relative;
  color: var(--accent-color);
  /* transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.address .nav-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}
.address .nav-link:hover,
.address .nav-link:focus {
  color: var(--accent-color);
}

.mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  /* fill: var(--primary-text-color); */
}

.nav-link:hover .mail,
.nav-link:focus .mail {
  /* fill: var(--accent-color); */
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.telephone {
  width: 10px;
  height: 16px;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Герой */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
}
.features {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  max-width: 1600px;

  background-size: cover;
  background-color: #c4c4c4;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}
.title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-title {
  padding: 10px 32px;
  min-width: 216px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-title:hover,
.button-title:focus,
.button-title:active {
  background-color: #188ce8;
}
/* Особливості */
.advant {
  display: flex;
  padding-left: 0;
}
.advant-item {
  width: 270px;
}
.advant-item:not(:last-child) {
  margin-right: 30px;
}
.advant-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.icon {
  width: 70px;
  height: 70px;
}
.item {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Чим ми займаємося */
.section-about {
  padding-bottom: 94px;
}
.about {
  display: flex;
  margin-left: -30px;
  margin-top: 50px;
  padding-left: 0;
  outline: 1px tomato;
}
.about-item {
  position: relative;
  margin-left: 30px;
  height: 294px;
}
.box-bg {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.box-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Наша команда */
.command-list {
  display: flex;
  padding-left: 0;
  margin-left: -30px;
}
.command-item {
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.title-second {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.command {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.social-list {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-white-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
/* Постійні клієнти */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  padding-left: 0;
}

.clients-item {
  display: flex;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
/* Підвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-contacts {
  padding-left: 0;
}
.logo-footer {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer > span {
  color: var(--accent-color);
}
.contacts {
  font-style: normal;
  margin-top: 9px;
}
address {
  margin-top: 20px;
}
.contacts-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link {
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.contacts-nav:hover,
.contacts-nav:focus {
  color: var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.container-flex {
  position: relative;
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-footer {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 231px;
}
.footer-social {
  display: inline-block;

  margin-left: 70px;

  align-items: center;
}
.footer-address {
  display: block;
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-list-footer {
  display: flex;
  padding-left: 0;
  width: 206px;
  height: 44px;
  justify-content: space-between;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer {
  fill: var(--primary-white-color);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.subscription {
  display: inline-block;

  width: 570px;
  height: 86px;
  margin-left: 93px;
}
.subscription-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.subscription-mail {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.subscription-input {
  width: 358px;
  height: 50px;

  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input:focus,
.subscription-input:hover {
  outline: none;
  border: 1px solid var(--accent-color);
}

.subscription-btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  padding: 10px 28px;
  min-width: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-btn:hover,
.subscription-btn:focus,
.subscription-btn:active {
  background-color: #188ce8;
}
.subscription-btn::after {
  content: "";
  width: 28px;
  height: 28px;
  margin-left: 10px;
  background-image: url(../images/icons/telegram.svg);
  background-size: contain;
  background-origin: border-box;
}
/* Портфоліо */

.buttons {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 50px;
}
.button {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
button:hover,
button:focus,
button:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* Проекти */
.project-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: -30px;
  margin-top: -30px;
}
.project {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  background: #ffffff;
}
.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.poster {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project-back {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.project-back::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .project-back::after {
  transform: translateY(0);
  opacity: 1;
}

.project-about {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 24px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 10;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.project-link:hover .project-about {
  transform: translateY(0);
  opacity: 1;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: none;
  outline: none;
}
.modal-form-text {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-form-label {
  display: block;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-icon-name {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-checkbox {
  margin-left: 14px;
  margin-bottom: 30px;
}
.modal-checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.conditions {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-input:checked + .modal-checkbox-label::before {
  background-image: url(../images/icons/check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
}
.modal-checkbox-input:focus + .modal-checkbox-label::before {
  border-color: var(--accent-color);
}
.modal-form-btn-submit {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  min-width: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn-submit:hover,
.modal-form-btn-submit:focus,
.modal-form-btn-submit:active {
  background-color: #188ce8;
}
